.main{
    position: relative;
}

.head{
    height:200px;
    width:320px;
    background-color: pink;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    
    
}

@media (min-width:300px) and (max-width:800px) {

        .head{
            height:200px;
            width:420px;
            background-color: pink;
            text-align: center;
            padding-top: 1px;
            position:absolute;
            }
    
}
.list{
    height:200px;
    width:320px;
    background-color: pink;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    left:352px;
    top:0px;
}
@media (min-width:300px) and (max-width:800px) {
    .list{
        height:200px;
        width:420px;
        background-color: pink;
        text-align: center;
        padding-top: 1px;
        position: absolute;
        left:0px;
        top: 214px;
    }
    
}

.form{
    height:530px;
    width:420px;
    background-color: pink;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    left:706px;
    top:0px;
}

#name{
    text-align: center;
    height:35px;
    width: 254px;
    border-radius: 20px;
    border: none;
    margin:10px 0 10px 0;
}

#submit{
    text-align: center;
    height:35px;
    width: 254px;
    border-radius: 20px;
    border: none;
    background-color: green;  
    margin-top: 10px;
}
@media (min-width:300px) and (max-width:800px) {
    .form{
        height:530px;
        width:420px;
        background-color: pink;
        text-align: center;
        padding-top: 1px;
        position: absolute;
        left:0px;
        top:431px;
    }
    
}





.flex{
    height:298px;
    width:675px;
    background-color: pink;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    right:680px;
    top:231px;
    


}
@media (min-width:300px) and (max-width:800px) {
    .flex{
        height:298px;
        width:425px;
        background-color: pink;
        text-align: center;
        padding-top: 1px;
        position: absolute;
       top:981px;
       left:0px;
        
        
    
    
    }
    }

.parent{
    display: flex;
    flex-direction: row;
}
.child1{
    height:150px;
    width:150px;
    background-color: green;
    margin:10px;
}
.child2{
    height:150px;
    width:150px;
    background-color: green;
    margin:10px;
}
.child3{
    height:150px;
    width:150px;
    background-color: green;
    margin:10px;
}





